*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    background-image: url(slike/4931029.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
    
}
.glavnakocka{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 450px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    box-shadow: blue 0px 1px 3px 0px, blue 0px 0px 0px 1px;
    
    
}
.naslov{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: blue;

}

.input-box input {
    position: absolute;
    top: 46%;
    left: 17%;
    height: 45px;
    width: 190px;
    border-radius: 5px;
    padding-left: 8px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc; /* Initial border color */
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.input-box input:focus {
    outline: none; /* Remove default focus outline */
    border-color: blue; /* Change border color on focus */
}
.amount{
    position: absolute;
    top: 40%;
    left: 17.2%;
    font-weight: bold;
    color: blue;
}

  

#fromCurrencyInput{
    width: 100px;
    position: absolute;
    top: 46%;
    left: 40%;
    height: 48px;
    width: 190px;
    border-radius: 5px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc;
    transition: border-color 0.3s; 
    padding-left: 7px;
}
#fromCurrencyInput:focus{
    outline: none; 
    border-color: blue; 
}


.from{
    position: absolute;
    top: 40%;
    left: 40.2%;
    font-weight: bold;
    color: blue;
}
#toCurrencyInput{
    position: absolute;
    top: 46%;
    left: 63%;
    height: 48px;
    width: 190px;
    border-radius: 5px;
    padding-left: 8px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc; 
    transition: border-color 0.3s;
}

#toCurrencyInput:focus {
    outline: none; 
    border-color: blue;
}
.to{
    position: absolute;
    top: 40%;
    left: 63.2%;
    font-weight: bold;
    color: blue;
}
.convert-box button{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100px;
    height: 30px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 1.5px solid #ccc;
    transition: border-color 0.3s;
}
.convert-box button:hover{
    outline: none; 
    border-color: blue;

}
.convert{
    color: blue;
    font-weight: bold;
}

#result{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.krug1{
    position: absolute;
    top:0%;
    width: 100px;
    height: 110px;
    border-radius: 15px 0 100px 0;
    background-color: blue;
    
}
.krug2{
    position: absolute;
    top:0%;
    left: 85%;
    width: 150px;
    height: 130px;
    border-radius: 0 15px 0 100px;
    background-color: blue;
}
