*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    background-image: url(slike/lilac-acrylic-texture-background-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
    
}
.glavnakocka{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    opacity: 0.8;
    
}
.naslov{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: blue;

}

.input-box input {
    position: absolute;
    top: 50%;
    left: 17%;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    padding-left: 8px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc; /* Initial border color */
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.input-box input:focus {
    outline: none; /* Remove default focus outline */
    border-color: blue; /* Change border color on focus */
}
.amount{
    position: absolute;
    top: 45%;
    left: 17.2%;
    font-weight: bold;
    color: blue;
}
.input-box2 input{
    position: absolute;
    top: 50%;
    left: 40%;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    padding-left: 8px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc; /* Initial border color */
    transition: border-color 0.3s; /* Add a smooth transition for the border color */

}
.input-box2 input:focus {
    outline: none; 
    border-color: blue; 
}


.from{
    position: absolute;
    top: 45%;
    left: 40.2%;
    font-weight: bold;
    color: blue;
}
.input-box3 input{
    position: absolute;
    top: 50%;
    left: 63%;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    padding-left: 8px;
    opacity: 0.8;
    background-color: rgb(243, 242, 242);
    border: 1px solid #ccc; /* Initial border color */
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}
.input-box3 input:focus {
    outline: none; 
    border-color: blue;
}
.to{
    position: absolute;
    top: 45%;
    left: 63.2%;
    font-weight: bold;
    color: blue;
}
.convert-box button{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100px;
    height: 30px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 1.5px solid #ccc;
    transition: border-color 0.3s;
}
.convert-box button:hover{
    outline: none; 
    border-color: blue;

}
.convert{
    color: blue;
    font-weight: bold;
}

